# Please don't edit directly in this document. Create your own copy first.#

# Exercise 2: Veggie/Vegan Restaurants in Edmonton

# Extract

First, let's run the cell below to import neccesary libraries. Although most of the commonly used Python libraries are pre-installed, new libraries can be installed as *!pip install [package name]* or *!apt-get install [package name]*.

##1. Libraries

*   [requests](https://github.com/psf/requests): an elegant and simple HTTP library for Python.
*   [Beautiful Soup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/): Python library for pulling data out of HTML and XML files

In [0]:
# Import
import requests
from bs4 import BeautifulSoup

Second, set the url of the website from which we'd like to extract data using the requests library that we imported in the first step. If the access was successful, you should see the output as <Response [200]>.

## 2. Set the URL

In [0]:
# Set the URL you want to scrape from
url='https://exploreedmonton.com/food-drink-all?location=52&category=885'

# Connect to the URL
response = requests.get(url)
response

Third, parse the html with BeautifulSoup.

## 3. Parse HTML file

In [0]:
# Parse HTML and save to BeautifulSoup object
soup = BeautifulSoup(response.text, "html.parser")
soup

Fourth, find an element with its attribute name. 

###Syntax: find_all(name, attrs)
Find all elements following the same syntax rules.

## 4. Extract Name and Price Range.

In [0]:
# Restaurant Name: Save as List

name = [name.text for name in soup.find_all('h4')]
name

In [0]:
# Restaurant Price

price = [price.text for price in soup.find_all('span', attrs={'class': 'full-content-listing-results__label text-weight-bold text-align-center text-casing-upper text-small bg-tan'})]
price

['\nPrice Range\n                                                $$\n                      ',
 '\nPrice Range\n                                                $\n                      ',
 '\nPrice Range\n                                                $$\n                      ',
 '\nPrice Range\n                                                $$\n                      ',
 '\nPrice Range\n                                                $$\n                      ',
 '\nPrice Range\n                                                $\n                      ',
 '\nPrice Range\n                                                $$\n                      ']

# Export to CSV
Import neccesary libraries. The file will be saved in the virtual machine, so in order to download a csv file to your local computer, you need to import *files* from google.colab. 

## 1. Libraries

*   [pandas](https://pandas.pydata.org/): open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools.

In [0]:
# import
import pandas as pd
from google.colab import files

## 2. DataFrame

In [0]:
# Create an empty data frame
df = pd.DataFrame()

# Add name to df
df['Name'] = name

# Add price to df
df['Price'] = price

# Keep only $$ sign
df['Price'] = df['Price'].map(lambda x: x.lstrip('\nPrice Range\n'))
df['Price'] = df['Price'].str.replace("\n", "")

df

                       Name                     Price
0                 LovePizza  $$
1  Speedy's Burrito Cantina   $
2                 Kanu Cafe  $$
3                   Arcadia  $$
4                 Padmanadi  $$
5                   KB & Co   $
6               Remedy Cafe  $$

You can save df (Data frame) to csv format using df.to_csv().

## 3. Save as CSV

In [0]:
# Save df as csv in the virtual machine provided by Google
df.to_csv('edmonton_restaurant.csv', sep='\t', encoding='utf-8')

# Download the file to your computer
files.download("edmonton_restaurant.csv")